# <center> –†–∞–∑–±–æ—Ä –∫–µ–π—Å–∞ ML-–∏–Ω–∂–µ–Ω–µ—Ä–∞

## –û–±—É—á–∏–º –∏ –ø—Ä–æ—Ç–µ—Å—Ç–∏—Ä—É–µ–º –º–æ–¥–µ–ª—å

In [ ]:
#!pip install lightfm

In [4]:
import numpy as np
import pandas as pd
import scipy.sparse as sparse
from lightfm import LightFM
from lightfm.cross_validation import random_train_test_split
from lightfm.evaluation import precision_at_k, recall_at_k
import pickle

In [5]:
ratings = pd.read_csv('data/ratings.csv')
books = pd.read_csv('data/books.csv')
tags = pd.read_csv('data/tags.csv')
book_tags = pd.read_csv('data/book_tags.csv')

In [6]:
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr√©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [7]:
mapper = dict(zip(books.goodreads_book_id,books.book_id))

In [8]:
tags = pd.read_csv('data/tags_cleaned.csv')
book_tags = book_tags[book_tags.tag_id.isin(tags.tag_id)]
book_tags['id'] = book_tags.goodreads_book_id.apply(lambda x: mapper[x])

In [9]:
book_tags.head()

    goodreads_book_id  tag_id  count  id
1                   1   11305  37174  27
4                   1   33114  12716  27
5                   1   11743   9954  27
6                   1   14017   7169  27
10                  1   27199   3857  27

In [10]:
ratings_coo = sparse.coo_matrix((ratings.rating,(ratings.user_id, ratings.book_id)))
feature_ratings  = sparse.coo_matrix(([1]*len(book_tags), (book_tags.id, book_tags.tag_id)))

–û–±—ä—è–≤–∏–º –≤—Å–ø–æ–º–æ–≥–∞—Ç–µ–ª—å–Ω—ã–µ –∫–æ–Ω—Å—Ç–∞–Ω—Ç—ã –¥–ª—è –æ–±—É—á–µ–Ω–∏—è –º–æ–¥–µ–ª–∏:

In [11]:
#—á–∏—Å–ª–æ –ø–æ—Ç–æ–∫–æ–≤ –Ω–∞—à–µ–≥–æ –ø—Ä–æ—Ü–µ—Å—Å–æ—Ä–∞. –°—Ç–∞–≤–∏–º 1, —Ç–∞–∫ –∫–∞–∫ lightfm –Ω–∞ macos —Å—Ç–∞–≤–∏—Ç—Å—è –±–µ–∑ OpenMP
NUM_THREADS = 1

#—á–∏—Å–ª–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ –≤–µ–∫—Ç–æ—Ä–∞ 
NUM_COMPONENTS = 60

#—á–∏—Å–ª–æ —ç–ø–æ—Ö –æ–±—É—á–µ–Ω–∏—è
NUM_EPOCHS = 10 

#–∑–µ—Ä–Ω–æ –¥–∞—Ç—á–∏–∫–∞ —Å–ª—É—á–∞–π–Ω—ã—Ö —á–∏—Å–µ–ª
RANDOM_STATE = 42

–ù–∞ —ç—Ç–∞–ø–µ —Å–æ–∑–¥–∞–Ω–∏—è –º–æ–¥–µ–ª–∏ –º—ã –∏—Å–ø–æ–ª—å–∑—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫—É LightFM, —á—Ç–æ–±—ã —Å–¥–µ–ª–∞—Ç—å –º–∞—Ç—Ä–∏—á–Ω–æ–µ —Ä–∞–∑–ª–æ–∂–µ–Ω–∏–µ (ALS) –Ω–∞—à–∏—Ö —Ä–µ–π—Ç–∏–Ω–≥–æ–≤ –∫–Ω–∏–≥ –∏ –ø–æ–ª—É—á–∏—Ç—å –¥–≤–∞ –Ω–∞–±–æ—Ä–∞ –≤–µ–∫—Ç–æ—Ä–æ–≤.

In [19]:
#–†–∞–∑–±–∏–≤–∞–µ–º –Ω–∞—à –¥–∞—Ç–∞—Å–µ—Ç –Ω–∞ –æ–±—É—á–∞—é—â—É—é –∏ —Ç–µ—Å—Ç–æ–≤—É—é –≤—ã–±–æ—Ä–∫–∏
train, test = random_train_test_split(ratings_coo, test_percentage=0.2, random_state=RANDOM_STATE)

#–°–æ–∑–¥–∞—ë–º –º–æ–¥–µ–ª—å
model = LightFM(
    learning_rate=0.05, #—Ç–µ–º–ø (—Å–∫–æ—Ä–æ—Å—Ç—å) –æ–±—É—á–µ–Ω–∏—è
    loss='warp', #loss-—Ñ—É–Ω–∫—Ü–∏—è
    no_components=NUM_COMPONENTS,#—Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å –≤–µ–∫—Ç–æ—Ä–∞ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
    random_state=RANDOM_STATE #–≥–µ–Ω–µ—Ä–∞—Ç–æ—Ä —Å–ª—É—á–∞–π–Ω—ã—Ö —á–∏—Å–µ–ª
)

#–û–±—É—á–∞–µ–º –º–æ–¥–µ–ª—å
model = model.fit(
    train, #–æ–±—É—á–∞—é—â–∞—è –≤—ã–±–æ—Ä–∫–∞
    epochs=NUM_EPOCHS, #–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —ç–ø–æ—Ö –æ–±—É—á–µ–Ω–∏—è
    num_threads=NUM_THREADS, #–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ—Ç–æ–∫–æ–≤ –ø—Ä–æ—Ü–µ—Å—Å–æ—Ä–∞
    item_features=feature_ratings #–ø—Ä–∏–∑–Ω–∞–∫–∏ —Ç–æ–≤–∞—Ä–æ–≤ (—Ä–µ–π—Ç–∏–Ω–≥–∏ –∫–Ω–∏–≥)
)

–ü—Ä–æ—Ç–µ—Å—Ç–∏—Ä—É–µ–º –º–æ–¥–µ–ª—å

In [20]:
#–¢–µ—Å—Ç–∏—Ä—É–µ–º –Ω–∞—à—É –º–æ–¥–µ–ª—å
precision_score = precision_at_k(
    model, #–º–æ–¥–µ–ª—å
    test, #—Ç–µ—Å—Ç–æ–≤–∞—è –≤—ã–±–æ—Ä–∫–∞
    num_threads=NUM_THREADS, #–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ—Ç–æ–∫–æ–≤ –ø—Ä–æ—Ü–µ—Å—Å–æ—Ä–∞
    k=10, #–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–π
    item_features=feature_ratings #–ø—Ä–∏–∑–Ω–∞–∫–∏ —Ç–æ–≤–∞—Ä–æ–≤
).mean() #—É—Å—Ä–µ–¥–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã
 
recall_score = recall_at_k(
    model, #–º–æ–¥–µ–ª—å
    test, #—Ç–µ—Å—Ç–æ–≤–∞—è –≤—ã–±–æ—Ä–∫–∞
    num_threads=NUM_THREADS, #–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ—Ç–æ–∫–æ–≤ –ø—Ä–æ—Ü–µ—Å—Å–æ—Ä–∞
    k=10, #–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–π
    item_features=feature_ratings #–ø—Ä–∏–∑–Ω–∞–∫–∏ —Ç–æ–≤–∞—Ä–æ–≤
).mean() #—É—Å—Ä–µ–¥–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã

print(recall_score, precision_score)

0.040104839882642955 0.08684063

–°–æ—Ö—Ä–∞–Ω–∏–º –º–æ–¥–µ–ª—å

In [21]:
with open('model.pkl', 'wb') as file:
    pickle.dump(model, file, protocol=pickle.HIGHEST_PROTOCOL)

## –î–æ–±–∞–≤–∏–º —ç–º–±–µ–¥–¥–∏–Ω–≥–∏ –∫ –º–æ–¥–µ–ª–∏ –∏ –ø–æ—Å–º–æ—Ç—Ä–∏–º, —á—Ç–æ –ø–æ–ª—É—á–∏–ª–æ—Å—å

In [12]:
with open('model.pkl', 'rb') as file:
    model = pickle.load(file)

/tmp/ipykernel_10360/3859927661.py:2: DeprecationWarning: numpy.core.numeric is deprecated and has been renamed to numpy._core.numeric. The numpy._core namespace contains private NumPy internals and its use is discouraged, as NumPy internals can change without warning in any release. In practice, most real-world usage of numpy.core is to access functionality in the public NumPy API. If that is the case, use the public NumPy API. If not, you are using NumPy internals. If you would still like to access an internal attribute, use numpy._core.numeric._frombuffer.
  model = pickle.load(file)

In [13]:
# –î–æ—Å—Ç–∞—ë–º —ç–±–º–µ–¥–¥–∏–Ω–≥–∏
item_biases, item_embeddings = model.get_item_representations(features=feature_ratings)

print(item_biases.shape, item_embeddings.shape)

(10001,) (10001, 60)

In [15]:
import nmslib

In [16]:
#–ò–Ω–∏—Ü–∏–∞–ª–∏–∑–∏—Ä—É–µ–º –Ω–∞—à –≥—Ä–∞—Ñ –¥–ª—è –ø–æ–∏—Å–∫–∞
nms_idx = nmslib.init(method='hnsw', space='cosinesimil')
 
#–ù–∞—á–∏–Ω–∞–µ–º –¥–æ–±–∞–≤–ª—è—Ç—å –Ω–∞—à–∏ –∫–Ω–∏–≥–∏ –≤ –≥—Ä–∞—Ñ
nms_idx.addDataPointBatch(item_embeddings)
nms_idx.createIndex(print_progress=True)

0%   10   20   30   40   50   60   70   80   90   100%
|----|----|----|----|----|----|----|----|----|----|
***************************************************

In [17]:
#–í—Å–ø–æ–º–æ–≥–∞—Ç–µ–ª—å–Ω–∞—è —Ñ—É–Ω–∫—Ü–∏—è –¥–ª—è –ø–æ–∏—Å–∫–∞ –ø–æ –≥—Ä–∞—Ñ—É
def nearest_books_nms(book_id, index, n=10):
    nn = index.knnQuery(item_embeddings[book_id], k=n)
    return nn

–ù–∞–π–¥–µ–º id –∫–Ω–∏–≥–∏ 1984

In [23]:
pd.set_option("display.max_columns", 25)

In [24]:
#–û—Ç—Ñ–∏–ª—å—Ç—Ä—É–µ–º —Ç–æ–ª—å–∫–æ —Ç–µ, –≥–¥–µ –≤ –Ω–∞–∑–≤–∞–Ω–∏–∏ –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è –ø–æ–¥—Å—Ç—Ä–æ–∫–∞ "1984"
books[books['title'].apply(lambda x: x.lower().find('1984')) >= 0]

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
12,13,5470,5470,153313,995,451524934,9.780452e+12,"George Orwell, Erich Fromm, Cel√¢l √úster",1949.0,Nineteen Eighty-Four,1984,eng,4.14,1956832,2053394,45518,41845,86425,324874,692021,908229,https://images.gr-assets.com/books/1348990566m...,https://images.gr-assets.com/books/1348990566s...
845,846,5472,5472,2966408,51,151010269,9.780151e+12,"George Orwell, Christopher Hitchens",1950.0,Animal Farm & 1984,Animal Farm / 1984,eng,4.26,116197,118761,1293,1212,3276,16511,40583,57179,https://images.gr-assets.com/books/1327959366m...,https://images.gr-assets.com/books/1327959366s...
9795,9796,201145,201145,2563528,25,64440508,9.780064e+12,"Else Holmelund Minarik, Maurice Sendak",1968.0,A Kiss for Little Bear,A Kiss for Little Bear (An I Can Read Book) by...,NaN,4.31,11063,11604,126,87,284,1898,3053,6282,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...

–¢–µ–ø–µ—Ä—å –Ω–∞–π–¥–µ–º –≤—Å–µ –ø–æ—Ö–æ–∂–∏–µ –∫–Ω–∏–≥–∏ –∏ –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –Ω–∏—Ö

In [19]:
#–í—ã–∑—ã–≤–∞–µ–º —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –ø–æ–∏—Å–∫–∞ –±–ª–∏–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π
print(nearest_books_nms(846, nms_idx))

(array([846,  14,  55, 809,  13,  48, 289, 173,  28, 271], dtype=int32), array([0.        , 0.03488255, 0.0404762 , 0.05662966, 0.06314647,
       0.07064259, 0.08541691, 0.08683026, 0.08692008, 0.08812302],
      dtype=float32))

In [20]:
#–í—ã–¥–µ–ª—è–µ–º –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—ã —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–Ω–Ω—ã—Ö –∫–Ω–∏–≥
nbm = nearest_books_nms(846, nms_idx)[0]
nbm

array([846,  14,  55, 809,  13,  48, 289, 173,  28, 271], dtype=int32)

In [21]:
#–ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –∞–≤—Ç–æ—Ä–æ–≤ –∏ –Ω–∞–∑–≤–∞–Ω–∏—è —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–Ω–Ω—ã—Ö –∫–Ω–∏–≥
books[books.book_id.isin(nbm)][['authors', 'title']]

,authors,title
12,"George Orwell, Erich Fromm, Cel√¢l √úster",1984
13,George Orwell,Animal Farm
27,William Golding,Lord of the Flies
47,Ray Bradbury,Fahrenheit 451
54,Aldous Huxley,Brave New World
172,Anthony Burgess,A Clockwork Orange
270,Daniel Keyes,Flowers for Algernon
288,Richard Adams,"Watership Down (Watership Down, #1)"
808,"Aldous Huxley, Christopher Hitchens",Brave New World / Brave New World Revisited
845,"George Orwell, Christopher Hitchens",Animal Farm / 1984

–°–æ—Ö—Ä–∞–Ω–∏–º —ç–º–±–µ–¥–¥–∏–Ω–≥–∏

In [22]:
with open('item_embeddings.pkl', 'wb') as file:
    pickle.dump(item_embeddings, file, protocol=pickle.HIGHEST_PROTOCOL)

## 7. –†–∞–∑–±–æ—Ä –∫–µ–π—Å–∞ ML-–∏–Ω–∂–µ–Ω–µ—Ä–∞: –≤–∏–∑—É–∞–ª—å–Ω—ã–π –ø—Ä–æ—Ç–æ—Ç–∏–ø

In [27]:
#!pip install streamlit

In [28]:
!streamlit --version

Streamlit, version 1.48.0

In [30]:
!streamlit hello

      üëã Welcome to Streamlit!

      If you'd like to receive helpful onboarding emails, news, offers, promotions,
      and the occasional swag, please enter your email address below. Otherwise,
      leave this field blank.

      Email:  2025-08-06 15:37:08.475
^C

In [2]:
!pip install plotly

Collecting plotly
  Downloading plotly-6.2.0-py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: narwhals>=1.15.1 in /home/elena/venv1/lib/python3.12/site-packages (from plotly) (2.0.1)
Requirement already satisfied: packaging in /home/elena/venv1/lib/python3.12/site-packages (from plotly) (25.0)
Downloading plotly-6.2.0-py3-none-any.whl (9.6 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 9.6/9.6 MB 769.1 kB/s  0:00:12m0:00:0100:01
Installing collected packages: plotly
Successfully installed plotly-6.2.0